


* {
	box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 96vh;
	/* margin: -20px 0 50px; */
}

h1 {
	font-weight: normal;
	font-size: 48px;
	margin: 0;
	color: #00745C;
}

.overlay-panel h1{
	color: #fff;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 18px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #00745C;
	background-color: #00745C;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
}

button:hover{
    background:#03cca4;
    transition: all 0.5s ease 0s;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 90%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 850px;
	max-width: 100%;
	min-height: 650px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
    background-color: #fff;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
    background: #00745C;
	background: -webkit-linear-gradient(to right, #00745C, #1bbd9c);
	background: linear-gradient(to right, #00745C, #1bbd9c);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.weldoc{
    width: 300px;
    padding-top:2ch;
}

.container a{
	font-size: 18px;
}

.back{
	margin: 3ch;
	margin-bottom: 0;
}

.back a:hover{
    color:#03cca4;
    transition: all 0.5s ease 0s;
}

.social-container a{
  border: 0ch;
  font-size: 5ch;
}

.social-container a:hover{
	color: #00745C;
	transition: all 0.5s ease 0s;
}